.header {

    nav {
        padding: 1.0625rem 1.5rem;
    }

    &__logo {
        img {
            width: 8.8125rem;
            height: 1.375rem;
        }
    }

    &__links {
        a:visited, a:hover {
            position: relative;
        }

        a {
            position: relative;
            font-size: $font-sm;
            color: $grayishBlue;
            transition: color 300ms ease-in-out;
            
            &:not(:last-child){
                margin-right: 2rem;
            }

            &::before {
                content: "";
                position: absolute;
                display: block;
                height: 0.3125rem;
                left: 0;
                right: 0;
                bottom: -1.875rem;
                background: linear-gradient(to right, $limeGreen, $brightCyan);
                opacity: 0;
                transition: opacity 300ms ease-in-out;
            }
            &:hover {
                color: $darkBlue;
                 
                 &::before {
                    opacity: 1;
                 }
            }
        }
    }


 
     
}
